<div id="container">
    <div id="artist_input_area">
        <div id="title">Artist Directory</div>
        <div id="addFormContainer">
            <form id="fAddArtist" action="/artist/add" method="POST">
                <input type="text" id="name" name="name" maxlength="40" placeholder="Artist Name"/>
                <input type="text" id="desc" name="about" maxlength="40" placeholder="About artist"/>
                <input type="text" id="imgUrl" name="imageURL" placeholder="Image url" value=""/>
                <div id="addBtnGroup">
                    <button id="btnAdd" type="button" onclick="addArtist()">Add</button>
                    <button id="btnBack" type="button" onclick="listArtist()">Back</button>
                </div>
            </form>
        </div>  
    </div>
</div>